body {
  min-height: 100vh;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
}

.weather-card{
  max-width: 300px;
  width: 100%;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 20px;
}

.sunny {
  background: linear-gradient(to right, #f7971e, #ffd200);
}

.cloudy {
  background: linear-gradient(to right, #757f9a, #d7dde8);
}

.rainy {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}